# IDE
.idea/

# vim-files
*.swp
*.swo

# files used for testing
test*

# VSCode
.vscode/

# Misc
/.idea/.gitignore
/.idea/markdown_to_html.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
